<div class="container">
    <div class="col-lg-12" *ngIf="showQuestionTable">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Question Bank
                <span class="pull-right">
                    <button type="button" class="btn btn-primary"
                        (click)="showQuestionInput=true; showQuestionTable=false;">
                        New Question
                    </button>
                </span>
            </div>


            <div class="card-body">
                <table class="table table-bordered" id="table1">
                    <thead>
                        <tr><th>S/N</th>
                                <th>Test Category</th>
                            <th>Question</th>
                            <th>Option (A)</th>
                            <th>Option (B)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let question of questionList let a=index" >
                        <tr>
                                <td>{{a + 1}}</td>
                                <td>{{question?.TestCategoryName}}</td>
                            <td>{{question?.question}}</td>
                            <td>{{question?.optionA}}</td>
                            <td>{{question?.optionB}}</td>
                            <td>
                              <button (click)="DeleteQuestion(question)" type="button" class="btn btn-pill btn-block btn-link">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul> -->
               
            </div>
        </div>
    </div>

<!-- 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<script>
        $(document).ready(function () {
            $('#table1').DataTable();
        });
    </script> -->



    <div class="app-body" *ngIf="showQuestionInput">
        <main class="main d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card mx-4">
                            <div class="card-body p-4">
                                <form novalidate [formGroup]="questionTypeFG">
                                    <h2>New Question</h2>
                                    <p class="text-muted">Create Question</p>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <select [ngClass]="{'is-invalid':f.testCategoryId.errors}" id="testCategoryId"
                                            formControlName="testCategoryId" name="gender"
                                            class="form-control form-control-sm">
                                            <option value="0">Question Type</option>
                                            <option *ngFor="let category of testCategoryList; let i = index" [value]="category.testCategoryId">
                                            {{category.categoryName}}
                                        </option>
                                        </select>
                                    </div>
                                    <hr />
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <textarea [ngClass]="{'is-invalid':f.question.errors}"
                                            formControlName="question" class="form-control" placeholder="Question"
                                            autocomplete="Question" required></textarea>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <textarea [ngClass]="{'is-invalid':f.optionA.errors}" formControlName="optionA"
                                            class="form-control" placeholder="Option A" autocomplete="Option A"
                                            required></textarea>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="icon-user"></i></span>
                                        </div>
                                        <textarea [ngClass]="{'is-invalid':f.optionB.errors}" formControlName="optionB"
                                            class="form-control" placeholder="Option B" autocomplete="Option B"
                                            required></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <button [disabled]="(questionTypeFG.invalid)" (click)="AddQuestion(questionTypeFG)" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save</button>
                                <button (click)="showQuestionInput=false; showQuestionTable=true;" type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Back To List</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

